html {
    padding: 0;
}

.Body {
    margin: 0;
    padding: 0;
}

.Check-Credentials {
    cursor: pointer;
}
.Login {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #f2eede;
}
.Login-Welcome {
    margin: 0;
    padding: 0;
    font-family: 'Kaushan Script', cursive;
}